{{!-- a space where I am going to deposit the majority of  my code wink wink --}}

{{!-- creating a simple statement indicating connection to server is successful --}}

<p>Bravo! you're connected!</p>